<h2 class="title">MAJESTIC BOUTIQUE HOTEL</h2>
<p class="info">Our boutique hotel targets people who travel a lot like businessmen/women.one who doesn’t need
    shoeshine and laundry service. they only a place to check in, access emails, get some sleep, wake up to
    natural sunlight, grab a quick breakfast and goes on the road.
    The design aims to become a sanctuary place for hotel visitors with a genuine majestic atmosphere.
    through materials, sustainability will be generated as our main structure will be made from concrete and
    wood and steel will complement it.</p>
<div class="img-1"></div>
<h2 class="sub-title">Restaurant / Cafe</h2>
<nz-divider></nz-divider>

<div class="img-2"></div>
<h2 class="sub-title">Reception Area</h2>
<nz-divider></nz-divider>

<div class="img-3"></div>
<nz-divider></nz-divider>
<div class="img-4"></div>
<nz-divider></nz-divider>

<div class="img-5"></div>
<h2 class="sub-title">Moodboard</h2>
<nz-divider></nz-divider>

<div class="img-6"></div>
<h2 class="sub-title">Photoshopped Cross Section</h2>
