<div class="wrapper">
    <div class="about-image"></div>
    <div class="about-text">
        <h2 class="text-title">GET TO KNOW MALAKMORTADA</h2>
        <p>
            Studied at Virginia Commonwealth University (BFA in Interior Design)<br><br>
            Design Methodology<br><br>
            I am a strong believer of building the bridge between the reality and the truth. The truth in this case is
            the untouched space that will be designed. The first thing I do when I start a new project is to know the
            client very well with all the needs. I then move on to looking for inspirations through materials, spaces
            and mood. I understand the spaces well in order to create a connection between the reality and the design.
            When I am inspired enough, I start sketching how such elements will be visualized in the space taking into
            consideration furniture, materials, and the color scheme. I then move towards the functionality in the space
            and how people will be able to use the space but also have the sense of the concept design. This is where
            the interaction of the user and the environment comes. Overall, my aim is to have a space where it is
            aesthetically pleasing to the user whilst taking into consideration the functionality of the space.
        </p>
    </div>
</div>