<div class="wrapper">
    <div class="about-image"></div>
    <div class="about-text">
        <h2 class="text-title">GET TO KNOW MALAKMORTADA</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat blandit odio ac posuere.
            Praesent fringilla, libero et tempor congue, quam turpis consequat nulla, in faucibus nulla metus vitae
            elit. Nulla vel quam euismod, ultricies orci quis, pulvinar libero. Nunc vitae ex varius, rutrum neque in,
            ultrices nisi. Curabitur eu risus posuere, dictum ante id, bibendum velit. Vivamus ipsum purus, dictum sed
            nisi at, facilisis blandit diam. In hac habitasse platea dictumst. Duis porta consectetur sem a condimentum.

            Maecenas sollicitudin volutpat nisl in viverra. Ut et ipsum a felis lobortis feugiat nec ut mi. Mauris in
            enim vitae libero aliquam fringilla non quis nulla. Nulla non dui volutpat, dapibus mi nec, dignissim quam.
            Aliquam iaculis volutpat urna. Pellentesque egestas molestie mi ut vestibulum. Vivamus quis turpis non enim
            aliquet sodales. Sed eu lacus ac erat dapibus imperdiet eget in tortor. Nullam nisl massa, ullamcorper vel
            lorem vitae, malesuada facilisis ipsum. Sed tincidunt eleifend velit vitae vestibulum. In hac habitasse
            platea dictumst. Nullam ut tempor quam. Aenean eget iaculis diam.

            Praesent tempus, lacus nec posuere pretium, mauris ipsum tristique quam, et rutrum sem ex id sapien. Fusce
            placerat in lectus non dignissim. Phasellus sollicitudin faucibus mauris, a tincidunt neque interdum at.
            Maecenas at aliquam nibh, et rutrum mauris. Pellentesque a eros leo. Sed commodo augue nunc, eget ultricies
            nulla vehicula in.
        </p>
    </div>
</div>