:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  padding: 20px 20px;
  margin-top: 3%;
}

.title {
  text-align: center;
  color: black;
  font-weight: 300;
  font-size: 3rem;
  margin: 0px;
  margin-bottom: 4%;
}

.title-sub-heading {
  line-height: 0;
  margin: 0px;
  margin-top: -15px;
  margin-bottom: 2%;
  font-size: 1rem;
  text-align: center;
  color: black;
}

.wrapper {
  margin-top: 3%;
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.wrapper-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: fit-content;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-self: center;
  padding-left: 4%;
}

.project1 {
  padding: 0px !important;
  margin: 0px;
}

.card1 {
  width: 350px;
  text-align: center;
  background: black;
}

.card2 {
  width: 350px;
  text-align: center;
  background: #b0dec1;
}

.card3 {
  width: 350px;
  text-align: center;
  background: #b0dedc;
}

.card1-meta {
    padding: 30px 0px;
}

::ng-deep .card1-meta > .ant-card-meta-detail > div:not(:last-child) {
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
}

::ng-deep .card1-meta > .ant-card-meta-detail > .ant-card-meta-description {
    color: white;
    line-height: 3;
    font-weight: 300;
    font-size: 1rem;
}

.card2-meta {
    padding: 30px 0px;
}

::ng-deep .card2-meta > .ant-card-meta-detail > div:not(:last-child) {
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
}

::ng-deep .card2-meta > .ant-card-meta-detail > .ant-card-meta-description {
    color: white;
    line-height: 3;
    font-weight: 300;
    font-size: 1rem;
}

.card3-meta {
    padding: 32px 0px;
}

::ng-deep .card3-meta > .ant-card-meta-detail > div:not(:last-child) {
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
}

::ng-deep .card3-meta > .ant-card-meta-detail > .ant-card-meta-description {
    color: black;
    line-height: 3;
    font-weight: 300;
    font-size: 1rem;
}

.card-image {
    height: 243px;
}