:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  padding: 20px 20px;
  margin-top: 3%;
}

.title {
  text-align: center;
  color: black;
  font-weight: 300;
  font-size: 3rem;
  margin: 0px;
  margin-bottom: 4%;
}

.title-sub-heading {
  line-height: 0;
  margin: 0px;
  margin-top: -15px;
  margin-bottom: 2%;
  font-size: 1rem;
  text-align: center;
  color: black;
}

.wrapper {
  margin-top: 3%;
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.wrapper-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: fit-content;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-self: center;
  /* padding-left: 4%; */
}

.project1 {
  padding: 0px !important;
  margin: 0px;
}

.card1 {
  width: 300px;
  text-align: center;
  background: black;
}

.card2 {
  width: 300px;
  text-align: center;
  background: #b0dec1;
}

.card3 {
  width: 300px;
  text-align: center;
  background: #b0dedc;
}

.card4 {
  width: 300px;
  text-align: center;
  background: #b0c6debf;
}

::ng-deep .card1 > .ant-card-body {
  height: 140px;
}

::ng-deep .card2 > .ant-card-body {
  height: 140px;
}

::ng-deep .card3 > .ant-card-body {
  height: 140px;
}

::ng-deep .card4 > .ant-card-body {
  height: 140px;
}

.card1-meta {
  padding: 30px 0px;
}

::ng-deep .card1-meta > .ant-card-meta-detail > .ant-card-meta-title {
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
}

.card2-meta {
  padding: 30px 0px;
}

::ng-deep .card2-meta > .ant-card-meta-detail > .ant-card-meta-title {
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
}

.card3-meta {
  padding: 30px 0px;
}

::ng-deep .card3-meta > .ant-card-meta-detail > .ant-card-meta-title {
  color: black;
  font-size: 1.1rem;
  font-weight: 300;
}

.card4-meta {
  padding: 30px 0px;
}

::ng-deep .card4-meta > .ant-card-meta-detail > .ant-card-meta-title {
  color: black;
  font-size: 1.7rem;
  font-weight: 300;
}

.card-image {
  height: 243px;
}
