:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.top-header {
  max-height: 8%;
  background: white;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.top-header-content {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  border-bottom: solid black 1px;
}

.email {
  margin-right: 2%;
}

.layout {
  background: white;
}

.header {
  background: white;
  padding: 0px 50px;
  height: fit-content;
}

.header-content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: fit-content;
  margin-top: 2%;
}

.logo {
  margin-top: 1%;
}

.name {
  margin-bottom: 0px;
  font-size: 3rem;
  font-weight: 300;
  font-family: "Aref Ruqaa";
}

.name-sub-heading {
  margin-bottom: 0px;
  line-height: 0;
}

.menu {
  background: white;
  text-align: right;
}

.menu-content {
  color: black;
}

.content {
  min-height: 100%;
}
