<h2 class="title">IIDA DIGESTIVE HEALTH CLINIC</h2>
<p class="sub-title">Nexus (Transparency & Closeness)</p>
<p class="info">Transparency and closeness through design and movement shape this unique medical clinic by enveloping
    the patients in
    feelings of security and reassurance. The design approaches the concrete spatial elements and abstract user
    experience. The design approach in patients involvement contain visual openness, interaction with staff, closeness
    to children and to other patients. These reassurances decrease patient anxiety allowing for focused healing.</p>
<nz-divider></nz-divider>

<div class="img-1"></div>
<h2 class="sub-title home-away-from-home">Home away from Home</h2>
<p class="info">The infusion suite brings with it the responsibility providing the patients a home environment
    experience of the space in which treatment occurs. The curved partitions made of walnut wood, embrace the infusion
    room to create a spacious, yet intimate atmosphere avoiding the cold character of many clinical environments. Facing
    windows further contribute to the open impression of the main treatment room by providing calming view and admitting
    natural light.</p>
<nz-divider></nz-divider>
<div class="img-2"></div>
<nz-divider></nz-divider>

<div class="img-3"></div>
<h2 class="sub-title home-away-from-home">The Journey</h2>
<p class="info">Visitors entering NDC clinic instantly know something is going to be different. The space is designed
    with a centralized public area which progresses to the left of the elevators to a semi-private area for the
    reception space constructed with overlapping wooden panels that allows interaction between staff, doctors and
    patients. To the right of the elevators it increases privacy at the infusion suite which provides individual
    treatment spaces.</p>
<nz-divider></nz-divider>

<div class="img-4"></div>
<h2 class="sub-title home-away-from-home">To Make an Entrance</h2>
<p class="info">Keeping with the vision of spa, our reception will set the scene with overlapping wooden panels. Each
    and everyone of our patients and their family members arrive to a welcoming “living room” with a variety of
    comfortable seating options. Our reception clearly establishes the sanctuary-like nature of the health clinic. </p>
<nz-divider></nz-divider>
<div class="img-5"></div>
<nz-divider></nz-divider>
<div class="img-6"></div>
<nz-divider></nz-divider>
<div class="img-7"></div>
<nz-divider></nz-divider>
<div class="img-8"></div>
<h2 class="sub-title home-away-from-home">Disconnect</h2>
<p class="info">The staff lounge design intends to offer a relaxing environment within the clinic. The space offers a
    variety of comfortable seating options that function for several activities such as napping, meeting and eating. The
    translucent glass with overlapping bamboo sticks gives a sense of privacy, while maintaining an openness to the
    infusion suite area, which provides a sense that the doctors and nurses still have a connection with the patients.
</p>