<h2 class="title">RESIDENTIALs PROJECT(S)</h2>
<h2 class="sub-title">Le Mirage Design Competition</h2>
<p class="info">“Re-living the Birthright”</p>
<p class="info">
    92% of the people living inside Qatar are foreigners. As the 2022 World Cup is approaching, there will be an
    increasingly demand on foreign engineers and designers and those people would certainly settle with their families.
    Therefore, we want to keep up with Qatar’s origin to make sure that the local and non-local people never forget the
    country’s origin which will automatically make our design sustainable, as Qatar old architecture was sustainable as
    well which will make us borrow some elements but re-design them in a modern way.<br>
    Goals:<br>

    To create an environment that welcomes local and no local people.<br>

    Emphasizing the design that allows for autonomy and exclusiveness.<br>

    The interrelationship between the sustainable environment
    and the human behavior.
</p>
<nz-divider></nz-divider>

<div class="img-1"></div>
<nz-divider></nz-divider>
<div class="img-2"></div>
<nz-divider></nz-divider>
<div class="img-3"></div>
<nz-divider></nz-divider>
<div class="img-4"></div>
<nz-divider></nz-divider>
<div class="img-5"></div>
<nz-divider></nz-divider>

<h2 class="sub-title">Multi-Cultural Villa Design</h2>
<p class="info">Designed for a Qatari family consisting of a father who is a travel writer, a mother who is a museum
    curator, a daughter that is into gaming, and a grandmother who is suffering from Dementia. Having one of the family
    members exposed to different cultures, this villa design manifests the aesthetic of a multi-cultured house design
    taking into consideration the physical and psychological requirements needed. While it is show-casing the father’s
    take into the design, cultural inspiration isn’t forgotten.</p>
<nz-divider></nz-divider>

<div class="img-6"></div>
<h2 class="sub-title home-away-from-home">Girls Bedroom</h2>
<p class="info">The daughter’s bedroom reflects her love of the minimal room style and gaming. The color scheme of pinks
    and white adds a feminine touch to the space. The frames hanged on the wall gives the space a feeling of the girl’s
    personality and her interests. The choice of furniture adds an aspect of modernity. The bed is placed Infront of the
    TV unit, in order for her to enjoy playing while she’s on her bed.</p>
<nz-divider></nz-divider>
<div class="img-7"></div>
<nz-divider></nz-divider>
<div class="img-8"></div>
<nz-divider></nz-divider>
<div class="img-9"></div>
<nz-divider></nz-divider>
<div class="img-10"></div>
<nz-divider></nz-divider>
<div class="img-11"></div>
<nz-divider></nz-divider>
<div class="img-12"></div>
<h2 class="sub-title home-away-from-home">Travel Writer & Museum Curator Offices</h2>
<p class="info">With a calming color scheme and implementing wood and greenery to symbolize nature in the office, as
    both of their vocations relates to history, photography and knowledge which makes them exposed to the world. The
    color beige is neutral, calm, and relaxing with the incorporation of wood adds a warm touch. The identity of each
    one of them pops up in the space which adds formality to the space and shapes it’s personality.</p>
<nz-divider></nz-divider>
<div class="img-13"></div>
<h2 class="sub-title home-away-from-home">Majlis</h2>
<p class="info">The majlis room combines both cultural and the rustic elements. The space reflects the father’s love for
    world travel. The mix &amp; match in two cultures shapes the room characteristic, from small ornaments and
    some cultural elements combined with the rustic furniture. Islamic motifs such as arabesque designs
    bring a sense of home.</p>