<h2 class="title">RESIDENTIAL PROJECT</h2>
<h2 class="sub-title">Le Mirage</h2>
<div class="img-1"></div>
<nz-divider></nz-divider>
<div class="img-2"></div>
<nz-divider></nz-divider>
<div class="img-3"></div>
<nz-divider></nz-divider>
<div class="img-4"></div>
<nz-divider></nz-divider>
<div class="img-5"></div>
<nz-divider></nz-divider>
<h2 class="sub-title">Villa</h2>
<div class="img-6"></div>
<nz-divider></nz-divider>
<div class="img-7"></div>
<nz-divider></nz-divider>
<div class="img-8"></div>
<nz-divider></nz-divider>
<div class="img-9"></div>
<nz-divider></nz-divider>
<div class="img-10"></div>
<nz-divider></nz-divider>
<div class="img-11"></div>
