<h2 class="title">RETAIL CAFE BRANDING</h2>
<img style="align-self: center" src="../../assets/Portfolio_Content_Malak/Retail/Logo.png" alt="" height="200"
    width="200">
<div class="img-1"></div>
<nz-divider></nz-divider>
<div class="img-2"></div>
<nz-divider></nz-divider>
<div class="img-3"></div>
<nz-divider></nz-divider>
<div class="img-4"></div>
<nz-divider></nz-divider>
<div class="img-5"></div>
<nz-divider></nz-divider>
<div class="img-6"></div>
<nz-divider></nz-divider>
<div class="img-7"></div>
<nz-divider></nz-divider>
<div class="img-8"></div>
<nz-divider></nz-divider>
<div class="img-9"></div>