:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  overflow: scroll;
  padding: 20px 20px;
}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 4rem;
}

.img-1 {
  background: url("../../assets/Portfolio_Content_Malak/Retail/3DView26.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  flex: 1;
  min-height: 560px;
}

.img-2 {
  background: url("../../assets/Portfolio_Content_Malak/Retail/CollateralObjects_Page_2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  flex: 1;
  min-height: 850px;
}

.img-3 {
  background: url("../../assets/Portfolio_Content_Malak/Retail/CollateralObjects_Page_3.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  flex: 1;
  min-height: 850px;
}

.img-4 {
  background: url("../../assets/Portfolio_Content_Malak/Retail/Dina_Rendering_2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  flex: 1;
  min-height: 1323px;
}

.img-5 {
  background: url("../../assets/Portfolio_Content_Malak/Retail/DinasSketch.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  flex: 1;
  min-height: 900px;
}

.img-6 {
  background: url("../../assets/Portfolio_Content_Malak/Retail/Elevation_1_Rendering.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  flex: 1;
  min-height: 580px;
}

.img-7 {
  background: url("../../assets/Portfolio_Content_Malak/Retail/Malaks.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  flex: 1;
  min-height: 590px;
}

.img-8 {
  background: url("../../assets/Portfolio_Content_Malak/Retail/sofa.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  flex: 1;
  min-height: 790px;
}

.img-9 {
  background: url("../../assets/Portfolio_Content_Malak/Retail/sofa_2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  flex: 1;
  min-height: 790px;
}
